body {
  background: black;
  color: white;
  font-family: Arial;
  margin: 0;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.names {
  text-align: center;
  padding-top: 100px;
}

.names a {
  display: block;
  margin: 20px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}
